<%= form_for([:admin, @inquiry]) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field email">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field phone">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field subject">
    <%= f.label :subject %>
    <%= select_tag(:subject, options_for_select([['New Athlete', 1],['General', 2],['Other', 3]])) %>
  </div>
  <div class="field message">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
