<div class="box card popout-card">
  <%= link_to image_tag("http://placehold.it/400/68C3A2/&text=#{location.name}"), location, class: "box-pic" %>
  <div class="box-info">
    <h1><%= location.name %></h1>
    <p><%= location.description %></p>
    <p>
      <%= location.address[:street] %><br>
      <%= location.address[:township] %></br>
      <%= location.address[:city] %>,
      <%= location.address[:country] %>
    </p>
  </div>
</div>

<div class="box card popout-card">
  <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=11%20Parkwood%20Place%2C%20North%20Rocks%2C%20New%20South%20Wales%2C%20Australia&key=AIzaSyAbF9So9sIglwBGmjH-ygnXQNl70j3YEmE"></iframe>
</div>
