<a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">Program Categories</a>
<div id="tab6" class="js-vertical-tab-content vertical-tab-content">
  <%= button_to 'New Category', new_admin_program_category_path, method: :get, class: "btn btn-primary-fill" %>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Category</th>
        <th>Programs</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <% @program_categories.each do |pc| %>
      <tr>
        <td><%= link_to pc.name, edit_admin_program_category_path(pc) %></td>
        <td>
          <% pc.programs.each do |p| %>
            <%= link_to p.name, p %>,
          <% end %>
        </td>
        <td>
          <%= link_to "Show", admin_program_category_path(pc), class: 'btn btn-primary' %>
          <%= link_to "Edit", edit_admin_program_category_path(pc), class: 'btn btn-primary' %>
          <%= link_to "Delete", admin_program_category_path(pc), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-alert' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
