<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="posts" class="js-vertical-tab vertical-tab is-active" rel="tab1">Posts</a>
    <a href="programs" class="js-vertical-tab vertical-tab" rel="tab2">Programs</a>
    <a href="categories" class="js-vertical-tab vertical-tab" rel="tab6">Programs Categories</a>
    <a href="users" class="js-vertical-tab vertical-tab" rel="tab3">Users</a>
    <a href="inquiries" class="js-vertical-tab vertical-tab" rel="tab4">Inquiries - <%= Inquiry.all.count %></a>
    <a href="locations" class="js-vertical-tab vertical-tab" rel="tab5">Locations</a>
    <a href="products" class="js-vertical-tab vertical-tab" rel="tab7">Products</a>
    <a href="charges" class="js-vertical-tab vertical-tab" rel="tab8">Charges</a>
  </div>

  <div class="vertical-tab-content-container">

    <%= render 'posts_tab' %>

    <%= render 'program_categories_tab' %>

    <%= render 'programs_tab' %>

    <%= render 'users_tab' if @user.super_admin? %>

    <%= render 'inquiries_tab' %>

    <%= render 'locations_tab' %>

    <%= render 'products_tab' %>

    <%= render 'charges_tab' %>
  </div>
</div>
