<%= render partial: "shared/banner", locals: { resource: "Programs", post: @post } %>

<div class="wrapper">
  <ul class="accordion-tabs">
    <% @program_categories.order('name ASC').each do |pc| %>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link"><%= pc.name %></a>
        <div class="tab-content">
          <div class="card">
            <h3 class="inline-header"><%= pc.name %></h3>
            <hr>
            <% if pc.name == "ANZ Hotshots" %>
              <div class="anz-box">
                <p><%= pc.description %></p>
                <%= render 'shared/hotshots' if pc.name == 'ANZ Hotshots' %>
              </div>
              <div class="half-box">
                <% pc.programs.each do |p| %>
                  <div class="outline-box card programs-box">
                    <%= image_tag "green-ball.png", class: "box-pic program-pic" %>
                    <div class="box-info">
                      <h3><%= p.name %></h3>
                      <p><%= p.description.html_safe %></p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% else %>
              <p><%= pc.description %></p>
              <% pc.programs.each do |p| %>
                <div class="outline-box card programs-box">
                  <h3><%= p.name %></h3>
                  <p><%= p.description.html_safe %></p>
                </div>
              <% end %>
            <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
