<div class="wrapper popout-card card outline-box">
  <h3>Shipping Address</h3>
  <hr>
  <ul>
    <li><%= charge.user.full_name %></li>
    <li><%= charge.address.address_line_1 %></li>
    <li><%= charge.address.address_line_2 %></li>
    <li><%= charge.address.city %></li>
    <li><%= charge.address.state %></li>
    <li><%= charge.address.zip %></li>
  </ul>
</div>
