<%= form_for([:admin, @post]) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_area :tags %>
  </div>
  <div class="field">
    <%= f.label :page %>
    <%= f.select(:page, options_for_select(["General", "Home", "About", "Contact", "Programs", "Shop", "Staff", "Locations", "Competition"], selected: f.object.page || "General")) %>
  </div>
  <div class="field">
    <%= f.label :context %>
    <%= f.select(:context, options_for_select(["News", "Welcome", "Philosophy", "Tagline", "None"], selected: f.object.context || "None")) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
