<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new inquiry</h1>
    <ul>
      <li>Name: <%= @inquiry.name %></li>
      <li>Email: <%= @inquiry.email %></li>
      <li>Phone: <%= @inquiry.phone %></li>
      <li>Subject: <%= @inquiry.subject %></li>
    </ul>
    <p>Message: <%= @inquiry.message %></p>
  </body>
</html>
