<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to root_url, class: "logo" do %>
      <% image_tag 'gregson-badge-logo.png' %>
    <% end %>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "News", news_path %></li>
        <li class="nav-link"><%= link_to "About", about_path %></li>
        <li class="nav-link"><%= link_to "Contact", contact_path %></li>
        <li class="nav-link"><%= link_to "Programs", programs_path %></li>
        <li class="nav-link"><%= link_to "Locations", locations_path %></li>
        <li class="nav-link"><%= link_to "Shop", products_path %></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <% if @inquiry %>
        <%= render "shared/inquiry_modal" %>
      <% end %>
    </div>
  </div>
</header>
